.app {
    text-align: center;
    max-width: 550px;
    margin: auto;
    border: 1px solid;
}
.stage svg{
    width: 70px;
    user-select: none;
    pointer-events: none;
}
.stage table{
    margin : 0 auto;
}
.stage td{
    padding : 0;
    position: relative;
}
.stage td:active{
    top: 3px;
}
h1{
    color: #333333;
}
.on g{
    fill: #61DAFB;
}
.off g{
    fill: #333333;
}
.on:hover g{
    fill: #59BCD7;
}
.off:hover g{
    fill: #40616A;
}
.guide g{
    fill: red;
}
