.album {
    display: grid;
    gap: 10px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    font-size: 12px;
}

.album > div > img {
    height: 130px;
    width: 130px;
    place-items: center;
}

.album-list {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.album-heading {
    font-size: 24px;
    text-align: left;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.track-preview {
    display:flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.track-preview > img {
    width: auto;
    height: 300px;
}

.track-text-area {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    text-align: left;
}

.album-name {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.artist-names {
    margin-bottom: 10px;
    font-size: 16px;
}

.track-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.preview-url {
    position: absolute;
    bottom: 0px;
}